body{
    background-color:#f8f9fa;
    align-content: center;
}
.mood_options{
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vh;
    background-color: #007aff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
#button{
    margin: 20px;
}
.container,.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.con2,.focused_quotes{
    display: none;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: larger;
    align-content: center;
    height: 350px;
    width: 400px;
    background-color: #5e5ce6;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation:fade-in 5s;
    animation-iteration-count: 1;
}
.sad_quotes{
    display: none;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: larger;
    align-content: center;
    height: 350px;
    width: 400px;
    background-color: #5e5ce6;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation-duration: 3s;
    animation-name: slide-in;
}
.chill_quotes{
    display: none;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: larger;
    align-content: center;
    height: 350px;
    width: 400px;
    background-color: #5e5ce6;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color:#ff3b30; left:0px; top:0px;}
    25%  {background-color:#ffcc00; left:200px; top:0px;}
    50%  {background-color:#007aff; left:200px; top:200px;}
    75%  {background-color:#34c759; left:0px; top:200px;}
    100% {background-color:#ff3b30; left:0px; top:0px;}
}
@keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
    to {
      translate: 0 0;
      scale: 100% 1;
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
